@media (min-width: 320px) {
    img {
        width: 10vh;
        height: 10vh;
        float: left;
        margin-right: .8rem;
        margin-top: .3rem;
    }

    .green-background {
        background-color: #aef4a4;
        color: #2e5a1c;
        padding: .1rem .2rem;
        display: inline-block;
        margin-right: .2rem;
        margin-bottom: .8rem;
        font-size: .8rem;
    }
    
    .blue-background {
        background-color: #b8dff0;
        color: #1b3764;
        padding: .1rem .2rem;
        display: inline-block;
        margin-right: .2rem;
        margin-bottom: .8rem;
        font-size: .8rem;
    }
    
    .grey-background {
        background-color: #f2f2f0;
        color: grey;
        padding: .1rem .2rem;
        display: inline-block;
        margin-right: .2rem;
        margin-bottom: .8rem;
        font-size: .8rem;
    }

    .list-group {
        list-style-type: none;
        margin: 1rem 1rem;
    }
    
    .p-title-css {
        margin-bottom: 0;
    }
    
    .p-css {
        margin-bottom: 0;
        font-size: .8rem;
    }
}

@media (min-width: 576px) {
    .green-background {
        margin-right: .5rem;
    }
    
    .blue-background {
        margin-right: .5rem;
    }
    
    .grey-background {
        margin-right: .5rem;
    }  
}

@media (min-width: 768px) {
    img {
        width: 5vh;
        height: 5vh;
    }
}

@media (min-width: 992px) {
    img {
        width: 10vh;
        height: 10vh;
    }
}